@mixin desktop-full {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1600px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin wide-mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 479px) {
    @content;
  }
}

@font-face {
  font-family: 'Lemon/Milk Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk Regular"), url("../fonts/LemonMilk.woff") format("woff"), url("../fonts/LemonMilk.woff2") format("woff2");
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select,
button {
  color: inherit; 
  font: inherit; 
  letter-spacing: inherit; 
}

embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

[hidden] {
  display: none;
}

/* select */

/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

/* select::-ms-expand {
  display: none;
} */

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

body {
  min-width: 320px;
  width: 100%;
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}